body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  color: #213555;
  padding: 10px;
  background: #f5efe7;
}
.task {
  margin: 100px auto 20px;
  padding: 20px 30px 80px;
  width: 300px;
  max-width: 540px;
  background: #d8c4b6;
  border-radius: 10px;
}
.task h3 {
  color: #fffcf9;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
input {
  outline: none;
  letter-spacing: 2px;
  font-weight: 300;
  color: #000;
  border: none;
  padding: 6px 30px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
button {
  padding: 8px 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
ul{
  padding: 10px;
}
ul li {
  list-style: none;
  letter-spacing: 2px;
  font-weight: 300;

  padding: 14px 15px 12px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #000;
}
ul li::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 10px;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 6px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(check.png);
 

}
ul li span {
  position: absolute;
  right: 0;
  top: 7px;
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: #000;
  line-height: 30px;
  text-align: center;
}
ul li span:hover {
  background: #fff;
  border-radius: 10px;
  
}
